#biPerson {
    margin-bottom: 4px;
}
#navBrand {
    margin-top: -5px;
    font-size: 2rem;
    transition: fill 0.3s,color 0.3s;
}
#navBrand:hover {
    fill: #33a474;
    color: #33a474;
}
#navContent {
    font-size: 20px;
}

#homeDropdown  a {
    color: black;
}
#homeDropdown a:hover {
    color: #444;
}
#footerDiv {
    height: 15vh;
    padding-top: 20px;
    border-top: 2px solid black;
}
#footerDiv p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
#footerLink {
    margin-left: auto;
    margin-right: auto;
}

#footerLink a {
    transition: transform 0.5s, fill 0.3s;
}
#footerLink a:hover {
    fill: #000080;
    transform: translateY(5px);
}

.cognitiveBox {
    transition: transform 0.5s;
}
.cognitiveBox:hover {
    transform: translateY(-10px);
}

.cognitiveBox .card:hover {
    background-color: #eee;
    transition: background-color 0.3s;
}
@media(max-width:767px){
    
    #footerDiv {
        height: 15vh;   
        padding-top: 20px;
        border-top: 2px solid black;
    }
    #footerDiv p {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #footerLink {
        margin-left: auto;
        margin-right: auto;
    }

    footer svg {
        width: 35px;
    }
}